{$PATCHPROOF_SITE_ADDRESS} {
    root * /srv/www
    encode zstd gzip

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8010
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
